
.align {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    

}

img {
    border: 2px rgb(252, 249, 249);
    outline: 2px solid black;
    display: block;
    margin: auto;
    
}

.greencurry {
    background-color: rgb(32, 197, 32);
    color: rgb(253, 253, 253);
}

.header {

    background-color: black;
    margin-top:0;
    outline: 10px solid black;
    

}



